body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    display: flex;
}

.frame {
    background-color:  #F5EEF8;
    display:flex;
    align-items: center;
    justify-content: center;
}


input {
    background-color: #E8DAEF ;
    width: 500px;
     padding: 13px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    transition:background-color 0.3s;
}
button.row1{
    width: 75px;
    height: 30px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #D2B4DE;
    border: none;
    border-radius: 5px;
    color:black;
    transition: background-color 0.3s;
}

button {
    width: 93px;
    height: 30px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #D2B4DE;
    border: none;
    border-radius: 5px;
    color:black;
    transition: background-color 0.3s;
}
button.numbers{
    width: 93px;
    height: 30px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #E8DAEF;
    border: none;
    border-radius: 5px;
    color:black;
    transition: background-color 0.3s;
}